<div>
    <h2 translate="vehicleTrackerApp.stammdaten.home.title">Stammdatens</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="stammdaten.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="vehicleTrackerApp.stammdaten.home.createLabel">
                        Create new Stammdaten
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deviceId"><span translate="vehicleTrackerApp.stammdaten.deviceId">DeviceId</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="driver"><span translate="vehicleTrackerApp.stammdaten.driver">Driver</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vehicle"><span translate="vehicleTrackerApp.stammdaten.vehicle">Vehicle</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stammdaten in vm.stammdatens track by stammdaten.id">
                    <td><a ui-sref="stammdaten-detail({id:stammdaten.id})">{{stammdaten.id}}</a></td>
                    <td>{{stammdaten.deviceId}}</td>
                    <td>{{stammdaten.driver}}</td>
                    <td>{{stammdaten.vehicle}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="stammdaten-detail({id:stammdaten.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stammdaten.edit({id:stammdaten.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stammdaten.delete({id:stammdaten.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
